{% block flash_messages %}
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                        {{ message | raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}