{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <blockquote class="blockquote text-center">
                <p class="mb-0">{{ place.title }}</p>
                <footer class="blockquote-footer">{{ place.address }}</footer>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            {{ form_start(formView) }}
            {{ form_widget(formView) }}
            {{ form_end(formView) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .choices-style .form-check {
            display: inline-block;
            margin-right: 10px;
        }
        .u-pad-lg{
            padding: 35px;
        }
    </style>
{% endblock %}
