{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <blockquote class="blockquote text-center">
                <p class="mb-0"> Your saved search results</p>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            {% for place in placesFromDb %}
                <div class="card u-mar-m">
                    <div class="card-header">
                        {{ place.title }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> ID : {{ place.id }}</li>
                        <li class="list-group-item"> Address : {{ place.address }}</li>
                        <li class="list-group-item">Place ID : {{ place.placeId }}</li>
                        <li class="list-group-item">Rating
                            : {% if place.review is empty %} Not rated {% else %} {{ place.review.rating }} {% endif %}</li>
                        <li class="list-group-item">Review
                            : {% if place.review is empty %} Not reviewed {% else %} {{ place.review.reviewed }} {% endif %}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('review_place', {'id': place.id}) }}"
                           class="btn {% if place.review is empty %} btn-primary {% else %} btn-info {% endif %}btn-block u-mar-m">
                            {% if place.review is empty %}
                                Add Review
                            {% else %}
                                Edit Review
                            {% endif %}
                        </a>
                        <form action="{{ path('delete_place', {'id': place.id}) }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="hidden" name="id" value="{{ place.id }}">
                            <input type="submit" class="btn btn-danger btn-block" value="DELETE">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .u-mar-m {
            margin-bottom: 15px;
        }
        .u-pad-lg {
            padding: 35px;
        }
    </style>
{% endblock %}
