{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            {% if placesFromApi.error_message is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ placesFromApi.error_message }}
                    You can go to the saved result by this link
                    <a href="{{ path('show_search_results_from_db') }}">Show saved results</a>
                </div>
            {% else %}
                <form action="{{ path('save_search_results') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    {% for place in placesFromApi.results %}
                        <div class="card u-mar-m">
                            <div class="card-header">
                                {{ place.name }}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> Address : {{ place.formatted_address }}</li>
                                <li class="list-group-item">Place ID : {{ place.place_id }}</li>
                                <li class="list-group-item">Exists in
                                    DB: {% if place.isExistInDb == false %} No {% else %} Yes {% endif %} </li>
                            </ul>
                            {% if place.isExistInDb == false %}
                                <input type="hidden" name="searchResult[{{ loop.index0 }}][place_id]"
                                       value="{{ place.place_id }}">
                                <input type="hidden" name="searchResult[{{ loop.index0 }}][address]"
                                       value="{{ place.formatted_address }}">
                                <input type="hidden" name="searchResult[{{ loop.index0 }}][title]"
                                       value="{{ place.name }}">
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input class="btn btn-primary btn-lg btn-block u-mar-m" type="submit" value="SAVE ALL NEW RESULTS">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .u-mar-m {
            margin-bottom: 15px;
        }
        .u-pad-lg {
            padding: 35px;
        }
    </style>
{% endblock %}
