{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <blockquote class="blockquote text-center">
                <p class="mb-0">Find Cafes form</p>
            </blockquote>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            {{ form(formView) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .u-pad-lg {
            padding: 35px;
        }
    </style>
{% endblock %}
